.sl-widget {
    padding: 15px 10px;
}

.news-skeleton>ion-skeleton-text {
    margin-bottom: 5px;
}

.news-skeleton {
    margin-bottom: 15px;
}

.image-skeleton {
    height: 98px;
    margin-bottom: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

::ng-deep .mat-menu-panel {
    min-height: unset!important;
}

.sl-sidebar-ad {
    cursor: pointer;
}

.default-cursor {
    cursor: default!important;
}