<ion-content fullscreen>
    <ion-header class="ion-no-border">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-button fill="clear" color="light" (click)="dismiss()" class="close-fake">
                    <ion-icon name="close" slot="start"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-slides *ngIf="showSlides" pager="true" [options]="slideOpts" #slides>
        <ion-slide *ngFor="let image of gallery">
            <img [src]="image.thumb" alt="Image Description">
        </ion-slide>
    </ion-slides>
</ion-content>