.news-skeleton>ion-skeleton-text {
    margin-bottom: 5px;
}

.news-skeleton {
    margin-bottom: 15px;
}

.image-skeleton {
    height: 70px;
    margin-bottom: 5px!important;
    border-radius: 6px;
}