<ion-header>
    <ion-toolbar fxLayout="row" fxLayoutAlign="start center">
        <ion-buttons slot="start">
            <ion-button size="small" fill="clear" shape="round" (click)="dismiss(false)">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Qoutes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div *ngIf="!isGettingSuccess" class="mn-no-results pr-5 pl-5" fxLayout="column" fxLayoutAlign="center center">
        <img src="assets/images/vendor/no-results.png">
        <p>No quotes recieved yet.</p>
    </div>
    <div class="sl-dashboardbox sl-newAppointments mt-0" *ngIf="!isGetting&&isGettingSuccess">
        <div class="sl-dashboardbox__content mb-0">
            <ul>
                <li class="sl-newAppointments__items sl-allAppointments-notification sl-allAppointments-notification__unread" *ngFor="let quote of quotes">
                    <div class="sl-newAppointments__detail">
                        <div class="sl-newAppointments__userDetail" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="sl-newAppointments__userText">
                                <h5><a mat-dialog-close routerLink="/provider/{{quote.vendorId}}">{{quote.companyName}}</a></h5>
                                <p>{{quote.quotedDate}}</p>
                            </div>
                            <div class="mn-contact" fxLayout="row" fxLayoutAlign="center center">
                                <a (click)="$event.stopPropagation()" href="https://wa.me/{{quote.whatsappNum}}/?text=Hello" target="_blank"><img src="assets/images/icons/whatsapp.png"></a>
                                <a (click)="goToChatroom($event,quote)" href="javascript:void(0);"><img src="assets/images/icons/chatblu.png"></a>
                            </div>
                        </div>
                        <div class="sl-newAppointments__services">
                            <div class="sl-newAppointments__services--description">
                                <div matRipple [matRippleColor]="color">
                                    <a href="javascript:void(0);" (click)="downloadQuote(quote.quoteFileName)" matTooltip="{{quote.quoteFileName}}" class="btn sl-btn sl-btn-outline"><i class="ti-download"></i>&nbsp;&nbsp;Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div *ngIf="isGetting" class="ion-padding">
        <div class="news-skeleton">
            <ion-skeleton-text animated style="width: 100%" class="image-skeleton"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 25%;"></ion-skeleton-text>
        </div>
        <div class="news-skeleton">
            <ion-skeleton-text animated style="width: 100%" class="image-skeleton"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 25%;"></ion-skeleton-text>
        </div>
        <div class="news-skeleton">
            <ion-skeleton-text animated style="width: 100%" class="image-skeleton"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 25%;"></ion-skeleton-text>
        </div>
        <div class="news-skeleton">
            <ion-skeleton-text animated style="width: 100%" class="image-skeleton"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 25%;"></ion-skeleton-text>
        </div>
    </div>

</ion-content>