    /* GLOBAL */
    
    .btn:hover {
        color: white;
        text-decoration: none;
    }
    
    .btn.sl-btn.sl-btn-outline {
        color: black!important;
    }
    
    .btn.sl-btn.sl-btn-outline:hover {
        color: white!important;
    }
    
    .mn-header-btns>.sl-main-header__lower--btn {
        display: inline-block;
        margin-left: 25px;
    }
    
    .sl-main-header {
        /*
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(20px);
        */
    }
    
    .sl-main-banner .owl-carousel .owl-item img {
        height: 300px;
    }
    
    .sl-main-section .sl-slider__content {
        position: relative;
    }
    
    .sl-main-section .sl-slider__tags>.mn-contact {
        position: absolute;
        right: 0px;
        top: 3px;
    }
    
    .sl-main-section .sl-slider__tags>.mn-contact>a {
        display: inline-block;
    }
    
    .sl-main-section .sl-slider__tags>.mn-contact img {
        width: 25px;
    }
    
    .sl-main-section .sl-slider__tags>.mn-contact>a:last-child img {
        width: 27px;
    }
    
    .mn-tags {
        margin: 2px 0px;
        text-overflow: ellipsis;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    
    .mn-tags>span {
        margin: 0px 3px;
        background-color: rgb(230, 225, 225);
        color: black;
        border-radius: 5px;
        padding: 0px 8px;
        display: inline-block;
        font-size: 10px;
    }
    
    .mn-footer-content {
        display: flex;
        justify-content: space-between;
    }
    
    .mn-all-category {
        width: 100px;
        margin: 40px auto 0px;
    }
    /*Header*/
    
    .mn-location-selector {
        font-size: 15px;
        cursor: pointer;
    }
    
    .mn-location-selector>.mn-location-changer {
        text-decoration: underline;
        font-size: 10px;
        cursor: pointer;
    }
    
    .sl-slider:focus {
        outline: none;
    }
    /*categories*/
    
    .sl-category__service>img {
        width: 75px;
    }
    /*Home main banner*/
    
    #slBannerOwl {
        width: 100vw;
    }
    
    #slBannerOwl .owl-carousel {
        width: 100vw;
    }
    
    #slBannerOwl .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 0px!important;
        position: absolute;
        bottom: 0px;
        margin-left: 0px;
        left: 0;
        margin-right: 0px;
        right: 0;
    }
    
    #slBannerOwlBottom {
        width: 100vw;
    }
    
    #slBannerOwlBottom .owl-carousel {
        width: 100vw;
    }
    
    #slBannerOwlBottom .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 0px!important;
        position: absolute;
        bottom: 0px;
        margin-left: 0px;
        left: 0;
        margin-right: 0px;
        right: 0;
    }
    /*Providers list */
    
    .mn-no-results {
        width: 100%;
    }
    
    .mn-no-results>img {
        width: 100px;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    
    .mn-no-results>p {
        text-align: center;
    }
    
    .sl-widget__categories li {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
    }
    
    .sl-widget__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    
    .mn-reset-filter {
        font-size: 12px;
        color: grey;
        cursor: pointer;
        border-radius: 2px;
    }
    /*Provider Single*/
    
    .sl-main.z-one {
        z-index: 1;
    }
    
    .provider-inner-container .sl-owl-nav .owl-next {
        right: 5%;
    }
    
    .provider-inner-container .sl-owl-nav .owl-prev {
        left: 5%;
    }
    
    .sl-appointment__note .mn-contact {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .sl-appointment__note>.mn-contact img {
        width: 45px;
        margin-left: 25px;
    }
    
    .sl-appointment__note>.mn-contact>a:last-child img {
        width: 47px;
    }
    
    .sl-appointment {
        position: relative;
    }
    /*Home newsfeed*/
    
    .mn-news-p {
        min-height: 73px;
        font-size: 12px;
    }
    /*FOOTER*/
    
    footer div.mn-quick-links {
        padding: 20px 3px;
    }
    
    footer div.mn-quick-links>div.row:first-child {
        padding-bottom: 10px;
    }
    
    footer div.mn-quick-links a {
        color: rgb(145, 145, 145);
    }
    
    footer div.mn-quick-links a:hover {
        color: #55acee;
    }
    
    @media (max-width: 767px) {
        aside.sl-asidebar {
            position: inherit;
            top: inherit;
        }
    }
    /*ionic styles*/
    
    .i-user-profile {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
    }
    
    .i-userlist li {
        padding: 12px 15px;
    }
    
    .i-userlist li a {
        color: black;
        font-size: 16px;
        font-weight: bold;
    }
    
    .i-userlist li>a>ion-icon {
        font-size: 20px;
        color: black;
        margin-bottom: -3px;
        padding-right: 10px;
    }