<div class="sl-shareHolder__option">
    <ul class="sl-socialicons">
        <li class="sl-facebook">
            <a (click)="$event.stopPropagation()" href="{{facebook}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="sl-twitter">
            <a (click)="$event.stopPropagation()" href="{{twitter}}" target="_blank"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="sl-rss">
            <a (click)="$event.stopPropagation()" href="{{gmail}}" target="_blank"><i class="far fa-envelope"></i></a>
        </li>
        <li class="sl-linkedin">
            <a (click)="$event.stopPropagation()" href="{{linkedin}}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </li>
        <li class="sl-whatsapp">
            <a (click)="$event.stopPropagation()" href="{{whatsapp}}" target="_blank"><i class="fab fa-whatsapp"></i></a>
        </li>
    </ul>
</div>