<ion-header>
    <ion-toolbar fxLayout="row" fxLayoutAlign="start center">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>

        <ion-title>Profile Settings</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <div class="sl-tab sl-profileSetting">
        <mat-vertical-stepper>
            <mat-step label="Change password">
                <div class="sl-dashboardbox__content">
                    <form class="sl-form sl-manageServices" [formGroup]="changePasswordForm">
                        <fieldset>
                            <div class="sl-form__wrap">
                                <div class="form-group form-group-half">
                                    <input class="form-control sl-form-control" formControlName="password" type="password" placeholder="New password*">
                                </div>
                                <div class="form-group form-group-half">
                                    <input class="form-control sl-form-control" formControlName="repassword" type="password" placeholder="Retype password*">
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <mat-spinner [diameter]="30" class="m-auto" *ngIf="isChanging"></mat-spinner>
                <div matRipple [matRippleColor]="color">
                    <button class="btn sl-btn sl-btn-outline mt-3" *ngIf="!isChanging" (click)="changePassword()">Change</button>
                </div>
            </mat-step>
            <mat-step label="Upload profile picture" state="done">
                <div class="sl-dashboardbox__content">
                    <mat-spinner [diameter]="30" class="m-auto" *ngIf="isGettingProfileDetails"></mat-spinner>
                    <form class="sl-form sl-manageServices" *ngIf="!isGettingProfileDetails">
                        <div *ngIf="customerData" class="pb-3 flex-column-mobile" fxLayout="row" fxLayoutAlign="space-between">
                            <p><i class="ti-user"></i>&nbsp;{{customerData.username}}</p>
                            <p><i class="ti-email"></i>&nbsp;{{customerData.email}}</p>
                            <p><i class="ti-mobile"></i>&nbsp;{{customerData.mobile}}</p>
                        </div>
                        <fieldset>
                            <div class="sl-form__wrap">
                                <mat-hint>max 500 kb, preffered dimension 200 x 150 in pixels</mat-hint>
                                <div class="form-group mn-uploader">
                                    <input class="form-control sl-form-control" (click)="profileFileInput.value = null" (change)="onProfileSelect($event)" type="file" hidden #profileFileInput accept="image/*">
                                    <div matRipple [matRippleColor]="color">
                                        <button class="btn sl-btn sl-btn-active" (click)="profileFileInput.click()">Choose profile&nbsp;{{profileProgress==0?'':profileProgress+'%'}}</button>
                                    </div>
                                    <img *ngFor='let url of profilePreview' [src]="url" height="150" width="200px" style="object-fit:cover; margin: 3px;border-radius: 4px;"> <br *ngIf="profilePreview.length" />
                                    <mat-progress-bar mode="determinate" *ngIf="profileProgress!=0" [value]="profileProgress"></mat-progress-bar>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <mat-spinner [diameter]="30" class="m-auto" [hidden]="!isUploading"></mat-spinner>
                <!-- <div matRipple [matRippleColor]="color">
                        <button class="btn sl-btn sl-btn-outline" routerLink="/home" routerDirection="backward" [hidden]="isUploading">Home</button>
                    </div> -->
            </mat-step>
        </mat-vertical-stepper>
    </div>
</ion-content>