<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029253774010-1hh6k97indoj6hk5m5t6i5o76l89a3v9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029253774010-1hh6k97indoj6hk5m5t6i5o76l89a3v9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1029253774010-nvlbus2kf55vd1vc3cktpthu7v4iiltn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC2bdDTyCLBLp2KOgbkjCPAaX779Z49BOU</string>
	<key>GCM_SENDER_ID</key>
	<string>1029253774010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ionic.mynest.customer</string>
	<key>PROJECT_ID</key>
	<string>digital-proton-307714</string>
	<key>STORAGE_BUCKET</key>
	<string>digital-proton-307714.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029253774010:ios:1436db5ca6c0159a0ae083</string>
</dict>
</plist>